<div class="well">
  <h4>We all have questions from time to time:</h4>
  <p>Don't let embarrassment get in your way of knowledge</p>
</div>

<div class="container">
  <div class="boxes">
  <% @questions.each do |q| %>
    <div class="media" data-target="<%= question_path(q) %>">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="<%= q.gravatar %>">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= q.email %> asked:</h4>
        <div class="time"><%= time_ago_in_words q.created_at %> ago</div>
        <div><%= truncate q.body, length: 300 %></div>
        <div class="viewAnswer"><a href="<%= question_path(q) %>" class="btn btn-success btn-xs">View Answers</a></div>
      </div>
    </div>
  <% end %>
  <% if @questions.empty? %>
    <div class="alert alert-info">
      No Questions Have Been Asked, but come one....we know some of you have something you need an answer to.
    </div>
  <%end %>
  </div>
</div>
